# Web App dependencies
flask
flask_wtf
wtforms
flask_sqlalchemy
flask_login
flask_bcrypt
email_validator
gunicorn
dill
pygame
werkzeug

# OpenCV for image/video handling
opencv-python

# Ultralytics for YOLOv8
ultralytics

# PyTorch with CUDA 11.8 for GPU support (for RTX 3050Ti and similar)
